/* botoho.css */

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #232023;
}

h3 {
  padding: 1em;
}

.custom-header-color {
	color: #fc0;
}

.grid-container{
	display: grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-gap: 20px;
}

.card-img-top{
	height:400px;
	width:200px;
	aspect-ratio: 3/2;
}

/* Custom CSS to remove link color */
.custom-link {
  color: inherit !important;
  text-decoration: none !important;
}

/* Custom CSS to remove card border and make it sharp */
.card {
  border: 1px solid #dee2e6 !important; /* Optionally, set the border color */
  border-radius: 0 !important;
  justify-content: center;
}
/* Set sharp corners for the card image */
.card .card-img-top {
  border-radius: 0 !important;
  width: 100%;

}

/* Custom CSS for sharp and grey button */
.custom-button {
  border-radius: 0 !important;
  color: #ffffff; /* Text color */
  background-color: #808080; /* Background color */
  border: 1px solid #808080; /* Border color */
}

/* Hover effect for the button */
.custom-button:hover {
  background-color: #595959; /* Adjust the background color on hover */
  border: 1px solid #595959; /* Adjust the border color on hover */
  color: #ffffff; /* Text color on hover */
}

/* Custom CSS for navbar to match the button */
.custom-navbar {
  background-color: #808080; /* Match the background color of the button */
}
/* Set the text color for the navbar */
.custom-navbar .navbar-nav .nav-link {
  color: #ffffff !important;
}
/* Set the text color for the navbar brand */
.custom-navbar .navbar-brand {
  color: #ffffff !important;
}

/* Custom CSS to remove space between the two small tags */
.remove-space {
  margin-bottom: 0;
}

@media(max-width:768px){
	.grid-container{
	display: grid;
	grid-template-columns:1fr;
	grid-gap: 20px;
}
}